<li style="list-style: none;">
    <p>
    <% if(locals.user && locals.user.id == comment.user.id){ %>
        <small class="delete">
          <a href="/comments/destroy/<%= comment.id %>"><i class="fa-solid fa-trash"></i></a>
        </small>
        <% } %>
    
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>    
</li>