<link rel="stylesheet" href="/css/footer.css">
    <div id="container">
        <div id="1" class="block box">
            <small class="text-muted">About</small>
            <a href="#">Contact Us</a>
            <a href="#">About us</a>
            <a href="#">Careers</a>
            <a href="#">Flipkart Stories</a>
            <a href="#">Press</a>
            <a href="#">FLipkart Wholesale</a>
            <a href="#">Complete Information</a>

        </div>
        <div id="2" class="block box">
            <small class="text-muted">Help</small>
            <a href="#">Payments</a>
            <a href="#">Shipping</a>
            <a href="#">Cancellation & Returns</a>
            <a href="#">FAQ</a>
            <a href="#">Report Infringement</a>
        </div>
        <div id="3" class="block box">
            <small class="text-muted">Policy</small>
            <a href="#">Return Policy</a>
            <a href="#">Terms Of Use</a>
            <a href="#">Security</a>
            <a href="#">Privacy</a>
            <a href="#">Sitemap</a>
            <a href="#">EPR Compliance</a>
        </div>
        <div id="4" class="block box">
            <small class="text-muted">Social</small>
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Youtube</a>
        </div>
        <div id="5" class="block box-1">
            <small class="text-muted">Mail Use:</small>
            <p>Flipkart Internet Private Limited, Buiding Alyssa,Begonia & Clove Embassy Tech Village, Outer Ring Road, DEvarabeesanahalli Village,
                <br>
                Bengaluru, 560103,
                <br>
                Karnataka, India
            </p>
           
        </div>

        <div id="6" class="block box-1">
            <small class="text-muted">Registered Office Address:</small>
            <p>Flipkart Internet Private Limited, Buiding Alyssa,Begonia & Clove Embassy Tech Village, Outer Ring Road, DEvarabeesanahalli Village,
                <br>
                Bengaluru, 560103,
                <br>
                Karnataka, India
                <br>
                Telephone: 044-45614700
            </p>
        </div>
    </div>
    <hr>
    <div id="container-2">
        <div>
            <i class="fa-solid fa-suitcase"></i><a href="#">Become a seller</a>
        </div>
        <div>
            <i class="fa-solid fa-star"></i><a href="#">Advertize</a>
        </div>
        <div>
            <i class="fa-solid fa-gift"></i><a href="#">Gift Cards</a>
        </div>
        <div>
            <i class="fa-solid fa-question"></i><a href="#">Help Center</a>
        </div>
        <div>
            <i class="fa-solid fa-copyright"></i><span>2007-2022 FLipkart.com</span>
        </div>
        <div id="cards-div">
            <img src="https://clipground.com/images/visa-icon-clipart-1.jpg" alt="">
            <img src="https://clipground.com/images/visa-icon-clipart-1.jpg" alt="">
            <img src="https://clipground.com/images/visa-icon-clipart-1.jpg" alt="">
            <img src="https://clipground.com/images/visa-icon-clipart-1.jpg" alt="">
            <img src="https://clipground.com/images/visa-icon-clipart-1.jpg" alt="">
            <img src="https://clipground.com/images/visa-icon-clipart-1.jpg" alt="">    
        </div>


    </div>
    