<link rel="stylesheet" href="/css/login.css">
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop-1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
            <div id="left-block">
                    <h1 style="margin: 11px;">LogIn</h1>
                    <h6 class="text-black">Get access to your Orders, Whishlist and Recommendations</h6>
                    <img src="https://storage-asset.msi.com/event/nb/2019/In/GL63GF63/imgs/flipkart.png" alt="" width="79%">
            </div>
            <div id="right-block">
              <form action="/users/create-session" method="post">
                <small class="text-muted">Enter Email</small><input type="email" name="email" placeholder="Enter Your Email..." class="bar-style" required>
                <small class="text-muted">Enter Password</small><input type="password" name="password" class="bar-style" placeholder="Enter password" required>
                <small style="margin-top: 2rem;">By continuing, you agree to Flipkart's Terms of Use and Privacy Policy.</small>
                <input type="submit" value="Login" class="classbtn">
                <small style="margin-left: 50%;">Or</small>
                <input type="button" value="Request OTP" class="classbtn bg-light text-muted" style="margin-bottom: 4rem;">

                <a href="#">New to Flipkart? Create an account</a>
              </form>
            </div>
            
      </div>
    </div>
    <button type="button" class="btn btn-secondary" id="Close-sign-in" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
  </div>