<link rel="stylesheet" href="/css/login.css">
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
            <div id="left-block">
                    <h1 style="margin: 11px;">Looks like you're new here!</h1>
                    <h6 class="text-black">Sign up with your email to get started</h6>
                    <img src="https://storage-asset.msi.com/event/nb/2019/In/GL63GF63/imgs/flipkart.png" alt="" width="79%">
            </div>
            <div id="right-block">
              <form action="/users/create" method="post">
                <small class="text-muted">Enter Email</small><input type="email" name="email" placeholder="Enter Your Email..." class="bar-style" required>
                <small class="text-muted">Enter Name</small><input type="text" name="name" placeholder="Enter Your Name..." class="bar-style" required>
                <small class="text-muted">Enter Password</small><input type="password" name="password" class="bar-style" placeholder="Enter password" required>
                <small class="text-muted">Confirm Password</small><input type="password" name="confirmpassword" class="bar-style" placeholder="Enter confirm password" required>
                <small style="margin-top: 2rem;" class="text-muted">By continuing, you agree to Flipkart's Terms of Use and Privacy Policy.</small>
                <input type="submit" value="Signin" class="classbtn" href="/users/sign-in">
                <small style="margin-left: 50%;">Or</small>
                <input type="button" value="Existing User?Log-In." class="classbtn bg-light text-muted">
              </form>
            </div>
            
      </div>
    </div>
    <button type="button" class="classbtn btn-secondary" id="Close-sign-up" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
  </div>